fastapi
fastapi-cli==0.0.7
uvicorn==0.24.0
python-multipart==0.0.6
langchain==0.3.26
langchain-chroma==0.2.4
chromadb==1.0.13
langchain-community==0.3.26
langchain-core==0.3.66
langchain-ollama==0.3.3
langchain-text-splitters==0.3.8
docx2txt==0.8
numpy==2.3.1
ollama==0.1.7
pydantic==2.11.7
pdfplumber==0.11.7